dataweve-api/src/main/mule/dataweve-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="569dbaa5-cd3b-4714-a495-362c75985de7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="dataweve-apiFlow" doc:id="8ea45564-8886-4616-bd43-fe38236205bc" >
		<http:listener doc:name="Listener" doc:id="88ba41c7-1898-4131-8453-15df6e1ad96c" config-ref="HTTP_Listener_config" path="/test"/>
		<ee:transform doc:name="Transform Message" doc:id="957a8549-67d9-41b4-bdff-91af58d37902" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"satoisgf":"sairam"
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-payload value='#[payload."satoisgf"]' doc:name="Set Payload" doc:id="aea43c8b-153f-47dc-8ae6-2fac2758fdbf" />
		<set-variable value='#[payload]' doc:name="Set Variable" doc:id="91b6b54b-007d-47ab-b53a-18a18635954b" variableName="ysk"/>
		<logger level="INFO" doc:name="Logger" doc:id="d554eeb4-64b0-4939-aedf-954bc317cead" message="#[payload]"/>
	</flow>
</mule>
